.btnMain {
    background-color: #6237A0;
    /*  */
    transition: all 0.3s ease;
    border: none;
    color: #FFF;
}

.btnMain:hover,
.btnMain:focus,
.btnMain:active,
.show > .btnMain {
  background-color: #9754CB;
  /* 9754CB */
  color: #fff;
  transform: translateY(-1px);
}

.bg-main{
    background-color: #6237A0 !important;
    color: white !important;
    border: #6237A0 !important;
}

h1,h2,h3,h4,h5 {
    font-weight: 600;
    font-size: 1.5rem;
    color: #28104e;
}

.txt-main{
     color: #28104e !important;
}

/* body {
    font-family: 'Poppins', sans-serif;
    background-color: #fcf6ff;
} */

.main {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #faecff;
}